# Ignore sensitive files
.env
.DS_Store

# Ignore virtual environment directories
venv/

# Ignore Python test files
tests/

# Ignore Python bytecode files
__pycache__/
*.pyc

# Ignore pytest cache
.pytest_cache/

# Ignore logs
logs/
*.log

# Ignore CLAUDE
CLAUDE.md